@use './../../../../sass/core/_color-vars' as *

.deadline
    width: 100%
    display: flex
    justify-content: space-between
    align-items: flex-end
    height: 110px
    &_expired
        height: auto
    &__group
        display: flex
        flex-direction: column
        align-items: flex-start
        justify-content: space-between
        width: 350px
        height: 100%
        span
            color: $active-color
    &__btn-group
        height: 100%
        min-width: 200px
        display: flex
        flex-direction: column
        justify-content: space-between
        align-items: flex-end
    &__spots
        color: $active-color
    &_btn
        width: 190px
        height: 70px
    &__expired
        color: $active-color
