@use '../base' as *

.langmenu
    position: absolute
    top: 15px
    left: 15px
    width: 100px
    height: 40px
    z-index: 100
    .wrapper
        width: 100px
        display: flex
        justify-content: space-between
    &__select
        transition: 0.5s all
        font-size: 16px
        display: flex
        justify-content: center
        align-items: center
        width: 40px
        height: 40px
        color: $light-text-color
        border: 2px solid $light-text-color
        border-radius: 3px
        text-align: center
        vertical-align: middle
    &__active-sel
        background-color: $light-text-color
        color: $dark-text-color

.invert-colors
    position: fixed
    width: 100%
    background-color: $light-bg-color
    top: 0
    left: 0
    height: 70px
    padding: 15px
    .langmenu__select
        color: $dark-text-color
        border-color: $dark-text-color
    .active-sel
        background-color: $dark-text-color
        color: $light-text-color