
@use './../../../sass/core/_color-vars' as *

.date-of-post
    margin-top: 25px
    display: flex
    justify-content: flex-end
    span
        font-weight: 400
        color: $date-of-post-color
        font-size: 16px
        line-height: 24px
    a
        text-decoration: none
        font-weight: 400px
        color: $active-color
