@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Regular.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "icomoon";
  src: url("/fonts/icofont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}