
$bg-color: #1B2631
$text-color: #ffffff
$active-color: #FF650A
$secondary-color: #B94F11
$button-glowing-shadow: 0 6px 10px 0 rgba(185, 79, 17, 0.3)
$link-glowing-shadow: 0 0 20px rgba(185, 79, 17, 0.3)
