
$bg-color: #1B2631
$text-color: #ffffff
$active-color: #FF650A
$secondary-color: #B94F11
$button-glowing-shadow: 0 6px 10px 0 rgba(185, 79, 17, 0.3)
$link-glowing-shadow: 0 0 20px rgba(185, 79, 17, 0.3)
$card-border-color: rgba(61, 83, 105, 0.3)
$input-bg-color: #3D5369
$input-error-color: #df5555
$input-placeholder-color: #c1c1c1
$textarea-counter-color: #6d6d6d
