
.grid
    &__about
        display: grid
        grid-template: minmax(360px, auto) / 300px 500px
        gap: 50px
        place-items: center
    &__img-post
        margin: 30px auto 0 auto
        display: grid
        grid-template: 400px / 300px 500px
        gap: 30px
    &__gallery-post
        display: grid
        maring: 30px auto 0 auto
        grid-template: auto / 100%
        gap: 30px
        justify-items: center
        margin-top: 30px
    &__video-post
        width: 100%
        margin: 30px auto 0 auto
        display: grid
        grid-template: 390px / 100%
        gap: 30px
        justify-items: center
    &__film-post
        margin: 30px auto 0 auto
        display: grid
        grid-template: 320px / 260px 530px
        gap: 40px
    &__podcast-post
        margin: 30px auto 0 auto
        display: grid
        grid-template: 460px / 830px
        gap: 30px
    &__img-event-post, &__video-event-post, &__gallery-event-post
        margin: 30px auto 0 auto
        display: grid
        grid-template: auto auto auto / 1fr
        gap: 30px
        justify-items: center
    &__contact
        display: grid
        margin: auto
        grid-template: auto / 515px 355px
        gap: 50px
        height: 100%
