
.grid
    &__about
        display: grid
        grid-template: minmax(360px, auto) / 300px 500px
        gap: 50px
        place-items: center
    &__img-post
        margin: 0 auto
        display: grid
        grid-template: 390px / 270px 530px
        gap: 30px
    &__video-post
        margin: 0 auto
        display: grid
        grid-template: 390px / 425px 370px
        gap: 35px
