.slider
    height: 370px
    width: 465px
    margin: 0 auto
    display: flex
    justify-content: space-between
    align-items: center
    &__back, &__forward
        width: 50px
        height: 50px
        border: none
        background: transparent
        img
            width: 100%
            height: 100%
            object-fit: cover
        &:hover
            cursor: pointer
    &__forward
        transform: rotate(180deg)
    &__window
        width: 400px
        height: 100%
        overflow: hidden
        position: relative
    &__track
        height: 100%
        display: flex
        position: absolute
        top: 0
        transition: 0.5s transform ease
        will-change: transform
        backface-visibility: hidden
    &__photo-container
        height: 100%
        width: 370px
        img
            width: 100%
            height: 100%
            object-fit: cover
