.button
    width: 90px
    height: 40px
    background: #fff
    border-radius: 3px
    font-size: 16px
    font-weight: 400
    text-transform: uppercase
    transition: 0.5s all
    &:hover
        cursor: pointer