

.form 
    display: flex
    flex-direction: column
    align-items: center
    width: 100%
    margin-top: 10px
    input
        height: 35px
        border: none
        border-radius: 3px
        font-size: 16px
        font-weight: 400
        padding: 5px
        box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.1)
        &:focus
            outline: none
    &__name-group
        display: flex
        justify-content: space-between
        margin: 10px 0
        width: 100%
    &__first-name
        width: 44%
    &__last-name
        width: 54%
    &__location-group
        display: flex
        justify-content: space-between
        align-items: center
    &__street
        width: 30%
    &__building-number
        width: 10%
    &__city
        width: 29%
    &__country
        width: 29%
    &__contact-group
        display: flex
        justify-content: space-between
        margin: 10px 0
        width: 100%
    &__email
        width: 49%
    &__phone
        width: 49%
    &__input-correct
        border: 1px solid #b8eb4b !important
    &__input-incorrect
        border: 1px solid #CB1D1D !important

